.container{
    position: relative;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-gap: 2rem;
}

.container:last-child{
    margin: 0;
    border: none;
}

.container ul{
    margin: 0;
    padding: 0;
}

.container ul li{
    margin: 0 0 0 1rem;
}

.image{
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    box-shadow: 5px 5px 0px 0px black;
    border: 2px solid black;
}

.widescreen{
    aspect-ratio: 21/9;
}

.oldschool{
    aspect-ratio: 4/3;
}