:root {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 0;
  margin: 0;
  font-family: "Arial";
}

#__next{
  position: relative;
  width: 100%;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
}

html,
body {
  position: relative;
  width: 100%;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
}

.main{
  position: relative;
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
}

.section{
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
}

.article{
  position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
    padding: 4rem 0;
    border-bottom: 2px solid red;
}

.paddingBottom{
  padding: 0 0 4rem 0;
}

.noBorder{
  border: none;
}

p{
  width: 100%;
  margin: 0;
}

.marginTop{
  margin: 2rem 0 0 0;
}

.marginBottom{
  margin: 0 0 2rem 0;
}

.center{
  text-align: center;
}

h1{
  width: 100%;
  margin: 0 0 1rem 0;
  font-size: 2rem;
}

footer{
  padding: 2rem;
  position: relative;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  border-top: 2px solid red;
}

.button {
  position: relative;
  width: 100%;
  padding: 1rem;
  border: none;
  outline: none;
  background: red;
  font-size: 1.25rem;
  color: white;
  border: 2px solid black;
  box-shadow: 5px 5px 0px -1px black;
  text-decoration: none;
}

.button:hover{
  cursor: pointer;
}

.button:active {
  transform: translate(3px, 3px);
  box-shadow: 2px 2px 0px 0px black;
}