.link{
    position: relative;
    width: 100%;
    text-align: center;
    text-decoration: none;
    margin: 1rem 0;
}

.iframe {
    position: relative;
    width: 100%;
    aspect-ratio: 21/9;
    border: 2px solid black;
    box-shadow: 5px 5px 0px -1px black;
    margin: 0;
    outline: 0;
    padding: 0;
}